@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

.logo{
    height: 200px;
    margin-left: 720px;
    margin-top: 700px

    
}

.header-bg{
    background-image: url(pics/bg.jpg); height: 950px; width: 1900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    

}

header{
    display: flex;
    justify-content: center;
}



body{
    
    place-items: center;
    background: radial-gradient(circle at 50% 130%, #290000, #000000, rgb(0, 0, 0));
    background-color:black;
    color: white; 
    width:100%;
    height:100%;

}

.cards{
    border-color: rgb(255, 255, 255);
    border-style: hidden;
    display: flex;
    justify-content: row;
    justify-content: center;
    justify-content: space-around;
    margin:auto;
    margin-top: 100px;
    width: 1200px

}
.card{
    border-color: rgb(255, 255, 255);
    border-style: double;
    width: 300px;
    height: 600px;
    

	place-items: center;
	background: radial-gradient(circle at 50% 260%, #270000, #160000, rgb(0, 0, 0));
    
}

.names{
    font-family: "Libre Barcode 39 Text", system-ui;
    font-weight: 400;
    font-style: normal;
    color:white;
    display: flex;
    justify-content: center;
}

.desc{
    display: flex;
    justify-content: center;  
}

.pfp{
    height: 120px;
    width: 100px;
    margin-left:100px
}

.album-cards{
    background-color: black;
    border-style: double;
    border-color: antiquewhite;
    width:500px;
    margin:auto;
    margin-top: 50px
}

.album-img{
    height: 500px;
    width: 494px;
    display: flex;
    justify-content:center;
}

footer{
    margin-top: 40px;
    height: 200px;
    background-image: url(pics/bg-upside.jpg); height: 900px; width: 1600px; margin:auto;
    margin-top: 500px
}
.contacts{
    display: flex;
    justify-content: center;
    

}
.contacts2{
    display:flex;
    justify-content: space-around;
}
.contacts3{
    border-style: double;
    width: 600px;
    margin: auto;
    margin-top: 100px;
    background-color: black;
}


* + * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


